<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Bilingual News</title>
  <script src="script-front.js" defer></script>
  <script src="script-front-modal.js" defer></script>
  <script src="https://apis.google.com/js/platform.js" async defer></script>
  <!-- Font Awesome for the gear icon -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
    integrity="sha512-abc123..." crossorigin="anonymous" />

  <link rel="stylesheet" href="styles.css">
  <link rel="icon" type="image/png" sizes="16x16" href="/icons/icon16.png" />
  <link rel="icon" type="image/png" sizes="32x32" href="/icons/icon32.png" />
  <link rel="icon" type="image/png" sizes="180x180" href="/icons/icon180.png" />
  <link rel="icon" type="image/png" sizes="192x192" href="/icons/icon192.png" />
  <link rel="icon" type="image/png" sizes="512x512" href="/icons/icon512.png" />
</head>

<body class="dark-theme front-theme">
  <!-- Gear icon for the modal -->

  <div id="main-container-1">
    <div id="gear-icon-1" class="gear-icon-container" onclick="openSettingsModal()">
      <i class="fas fa-cog fa-1x"></i>
    </div>

    <h2>Bilingual News</h2>

    <form action="/read-url" method="post">
      <div id="form-container">
        <div class="radio-container">
          <input type="radio" id="chineseToEnglish" name="translationDirection" value="chineseToEnglish" checked>
          <label for="chineseToEnglish">Chinese to English</label>
        </div>

        <div class="radio-container">
          <input type="radio" id="englishToChinese" name="translationDirection" value="englishToChinese">
          <label for="englishToChinese">English to Chinese</label>
        </div>

        <div class="no-display url-container">
          <input type="text" id="url" name="url" placeholder="https://example.com">
          <button type="submit">Submit</button>
        </div>

        <div class="text-container">
          <textarea id="urlTextarea" name="urlTextarea"
            placeholder="Enter the URL (e.g., https://example.com/news)"></textarea>
          <!-- <input type="text" id="url" name="url" placeholder="Enter the URL  (e.g., https://example.com/news)"> -->

        </div>

        <div class="no-display delete-container">
          <button id="btn-delete" class="no-display btn-delete" type="button">Delete Saved Colors</button>
        </div>

        <div class="btn-container">
          <button id="btn-clear" class="btn-clear" type="button">Clear</button>
          <button id="btn-paste" class="btn-paste" type="button">Paste</button>
          <button id="btn-submit" class="btn-submit" type="submit">Go!</button>
        </div>

      </div>
    </form>

    <!-- Modal -->
    <div id="settings-modal" class="modal">
      <div class="modal-content front">
        <span class="close front" onclick="closeSettingsModal()">&times;</span>

        <div class="img-sel-container">
          <div class="radio-container">
            <input type="radio" id="uploadOption" name="backgroundOption" checked>
            <label for="uploadOption">Upload Image</label>
          </div>
          <input type="file" id="imageInput" class="input-background-picture" accept="image/*">
        </div>

        <div class="img-sel-container">
          <div class="radio-container">
            <input type="radio" id="urlOption" name="backgroundOption">
            <label for="urlOption">URL for Image</label>
          </div>
          <input type="text" id="imageUrl" placeholder="or enter image URL">
        </div>

        <!-- Preview the selected image -->
        <div class="img-preview-container">
          <img id="backgroundPreview" class="img-preview" src="" alt="Background Preview">
          <img id="urlBackgroundPreview" class="img-preview" src="" alt="URL Background Preview">
        </div>

        <!-- Apply the selected image as the background -->
        <button onclick="applyBackground()">Apply Background</button>

        <form id="uploadForm" class="upload-form no-display" enctype="multipart/form-data">
          <input type="file" id="imageInput" class="image-input" accept="image/*" />
          <button type="button" class="btn-upload" onclick="uploadServerImage()">Upload Image</button>
        </form>

        <!-- Logout button -->
        <button id="btn-logout" class="btn-logout" onclick="logout()">Logout</button>
      </div>
    </div>
    <!-- <button id="btn-copy" onclick="copyToClipboard()">Copy</button> -->

    <!-- Add the "radio-container" class to the container div -->
    <div id="messagePopup"></div>
  </div>

</body>

</html>