private_folder/

# Logs
logs
*.log
npm-debug.log*

# Dependency directories
node_modules/
**/node_modules/

# Ignore token.json, credentials.json, and files starting with "oath" and ending with ".json"
**/token.json
**/credentials.json
**/temp*.json
**/oath*.json


# Environment variables
.env
**/.env/

# Output of build process
dist/
build/

# Editor-specific files
.vscode/
.idea/

# OS-specific files
.DS_Store
Thumbs.db
