<!DOCTYPE html>
<html>
<head>
    <title>Google Drive Picker Example</title>
    <link rel="stylesheet" type="text/css" href="/css/style.css">
</head>
<body>
    <button id="pick-button">Pick File from Google Drive</button>
    <script type="text/javascript">
        const CLIENT_ID = '<%= clientId %>';
        const API_KEY = '<%= apiKey %>';
        const TOKEN = '<%= token %>'; // Token passed to the front-end
    </script>
    <script type="text/javascript" src="/js/script.js"></script>
    <script type="text/javascript" src="https://apis.google.com/js/api.js"></script>
</body>
</html>
