/* @import url('https://fonts.googleapis.com/css2?family=Kosugi+Maru&display=swap');
 */

@import url("https://fonts.googleapis.com/css2?family=Ubuntu&display=swap");

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100;200;300;400&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100;200;300;400&family=Noto+Sans:wght@100;200;400&family=Roboto:wght@300;400&display=swap');

:root {
  /* Base Colors */
  --dracula-background: #282a36;
  --dracula-foreground: #f8f8f2;
  --dracula-selection: #44475a;
  --dracula-current-line: #44475a;

  /* Syntax Colors */
  --dracula-comment: #6272a4;
  --dracula-cyan: #8be9fd;
  --dracula-green: #50fa7b;
  --dracula-orange: #ffb86c;
  --dracula-pink: #ff79c6;
  --dracula-purple: #bd93f9;
  --dracula-red: #ff5555;
  --dracula-yellow: #f1fa8c;

  /* UI Colors */
  --dracula-blue: #8be9fd;
  --dracula-cyan-light: #8be9fd;
  --dracula-green-light: #50fa7b;
  --dracula-orange-light: #ffb86c;
  --dracula-pink-light: #ff79c6;
  --dracula-purple-light: #bd93f9;
  --dracula-red-light: #ff6e6e;
  --dracula-yellow-light: #f1fa8c;
}

body {
  font-family: "Arial", sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f0f0f0;
  background-color: #ffecd9;
  font-family: "Ubuntu", sans-serif;
  font-family: 'Roboto', sans-serif;
  font-family: 'Noto Sans', sans-serif;
  font-family: 'Noto Sans TC', sans-serif;

}

/* 300 roboto; noto sans 100, 400; */

body.dark-theme {
  background-color: #282a36;
  /* background-color: var(--dracula-background); */
  color: #f8f8f2;
  /* color: var(--dracula-foreground); */
}

#messagePopup {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #f44336;
  color: white;
  padding: 15px;
  border-radius: 5px;
  text-align: center;
}

#main-container {
  max-width: 800px;
  /* Adjust to match results-container max-width */
  margin: 0 auto;
  margin-top: 30px;
  padding: 0 20px;
  /* background-color: #282a36; */
  /* Center the main container within the max-width */
}

h2,
h3 {
  max-width: 100%;
  /* Allow titles to take full width within main-container */
  margin: 20px auto;
  /* Center the titles within the max-width */
  padding: 0 20px;

}

.results-container {
  max-width: 100%;
  margin: 0 auto;
  font-weight: 200;
  /* background-color: #fff;
  background-color: #121212; */
  /* box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); */
  border-radius: 8px;
  margin-top: 20px;

  background-color: #44475a;
  background-color: #282a36;
  /* background-color: var(--dracula-selection); */
  padding: 15px;
  border-radius: 8px;

}

button {
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 10px;
  padding: 10px 20px;
  background-color: #4caf50;
  background-color: #007bff;
  color: #fff;
  border: none;
  cursor: pointer;
  font-size: 16px;
  border-radius: 4px;
}

button:hover {
  background-color: #0056b3;
}

label {
  display: block;
  margin-bottom: 5px;
}

input {
  width: 300px;
  padding: 8px;
  margin-bottom: 10px;
  font-size: 16px;
}

/* #form-container {
  text-align: left;
  margin-top: 20px;
} */
.article-title {
  font-size: 24px;
  color: #ffb86c;
  color: #50fa7b;
  color: #50fa7b;
  color: #bd93f9;
  font-weight: 200;
}

.article-title.english {
  font-family: 'Roboto', sans-serif;
  font-family: 'Noto Sans', sans-serif;
}

.article-title.chinese {
  font-family: 'Noto Sans TC', sans-serif;
}

.p {
  font-size: 20px;
  font-weight: 100;
  color: #f8f8f2;
}

p.english {
  font-family: 'Roboto', sans-serif;
  font-family: 'Noto Sans', sans-serif;
}

p.chinese {
  font-family: 'Noto Sans TC', sans-serif;
}

#form-container {
  text-align: center;
  margin-top: 20px;
  margin: 0 auto;
}

/* Style for the radio container */
.radio-container {
  margin-bottom: 10px;
  display: flex;
  flex-direction: row;
  align-items: start;
}

.url-container {
  margin-bottom: 10px;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
}

/* Style for the radio buttons */
input[type="radio"] {
  margin-right: 5px;
  width: auto;
}

button[type="submit"] {
  margin-left: 10px;
}

/* Style for the submit button */
button {
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 10px;
  background-color: #4caf50;
  color: #fff;
  border: none;
  cursor: pointer;
  font-size: 16px;
  border-radius: 4px;
}

button:hover {
  background-color: #45a049;
}

/* Gear icon style */
.gear-icon {
  position: fixed;
  top: 10px;
  right: 10px;
  font-size: 20px;
  cursor: pointer;
}

/* Modal style */
.modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
  background-color: #44475a;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #44475a;
  width: 60%;
  max-width: 400px;
  color: #f8f8f2;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

/* Close button style */
.close {
  color: #ff5555;
  float: right;
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
}

.close:hover {
  color: #ff79c6;
}

/* Dropdown style */
select {
  width: 100%;
  padding: 8px;
  margin-top: 8px;
  margin-bottom: 16px;
  border: 1px solid #44475a;
  border-radius: 4px;
  background-color: #282a36;
  color: #f8f8f2;
}

/* Button style */
button.btn-modal-apply {
  background-color: #50fa7b;
  color: #282a36;
  padding: 10px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button.btn-modal-apply:hover {
  background-color: #4ae06c;
}


/* Section style */
.color-section {
  border: 2px solid #6272a4;
  border-radius: 8px;
  padding: 10px;
  margin-bottom: 20px;
}

/* Section header style */
.section-header {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 10px;
  color: #ff79c6;
  /* Header text color */
}

/* Section divider style */
.section-divider {
  border: none;
  height: 2px;
  background-color: #6272a4;
  margin: 12px 0;
}

/* Responsive styles for smaller screens */
#urlInput {
  padding: 10px;
  margin-right: 10px;
  width: 300px;
}

.error-message {
  color: #d9534f;
}

.result-text {
  white-space: pre-line;
}

.no-display {
  display: none;
}

/* Gear icon style */
.gear-icon-container {
  cursor: pointer;
  position: fixed;
  top: 20px;
  /* Adjust the top positioning as needed */
  right: 20px;
  /* Adjust the right positioning as needed */
  z-index: 1000;
  /* Ensure it's above other elements */
}

.fa-cog {
  font-size: 2em;
  /* You can adjust the size as needed */
  color: white;
  /* Icon color */
}

/* Responsive styles for smaller screens */
@media screen and (max-width: 800px) {


  .modal-content {
    width: 60%;
  }
}

@media screen and (max-width: 600px) {
  input {
    width: 100%;
  }

  .modal-content {
    width: 80%;
  }
}